<launch> 
  <arg name="origin_file" default = "$(find gnss_imu_eskf)/config/origin/pg.yaml"                doc = "Path to origin file" />
  <arg name="eskf_config_file" default = "$(find gnss_imu_eskf)/config/eskf_config.yaml"    doc = "Path to eskf_config file" />

  <node name="delay_dual_gnss_imu_eskf_node" pkg="gnss_imu_eskf" type="6odom_gnss_imu_eskf_node" output="screen" >
      <rosparam file="$(arg origin_file)" command="load"/>
      <rosparam file="$(arg eskf_config_file)" command="load"/>
  </node>

  <node pkg="rviz" type="rviz" name="rviz2" output="screen" 
    args="-d $(find gnss_imu_eskf)/rviz/test.rviz" required="true">
  </node>
</launch> 