<launch> 
  <rosparam file="$(find gnss_imu_eskf)/config/param.yaml" command="load"/>
  <param name="pub_tf"           type="bool" value="false" />
  <param name="frame_id"         type="string" value="map_gnss" />
  <param name="child_frame_id"   type="string" value="base_link" />

  <param name="viz_path"         type="bool" value="true" />
  
  <node name="single_gnss_imu_eskf_node" pkg="gnss_imu_eskf" type="single_gnss_imu_eskf_node" output="screen"/>

  <!-- <node pkg="rviz" type="rviz" name="rviz" output="screen" 
    args="-d $(find gnss_imu_eskf)/rviz/default.rviz" required="true">
  </node> -->
</launch> 